* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f8f7f1;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 12pt;
  text-align: left;
}

p {
  margin-top: 0.5em;
}

div.post {
  margin-top: 1em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 2em 0 1em 0;
  color: #064066;
}

a { color: #0b70b3; }
a:hover   { color: #dfd0bb; }

/* Home */
ul.posts {
  list-style-type: none;
}

.posts li {
  line-height: 100%;
  margin-bottom: 8px;
}

.posts .date {
  color: #aaa;
  font-family: Helvetica, sans-serif;
  font-size: 8pt;
}

/* Site */
.site {
  line-height: 1.5em;
}

.site .header, .site .footer {
  background: #2a2c2e;
}

.site .header a, .site .footer a {
  color: white;
  font-weight: bold;
}

.site .header a {
  text-decoration: none;
}

.site .header a.extra {
  margin-left: 1em;
}

.site .header h1.title {
  font-size: 150%;
  text-align: center;
  margin: 0em 0 1.5em 0;
  padding: 1.5em 0;
  border-bottom: 1px solid #aaa;
}

.site .maintitle {
  text-align: center;
  font-size: 200%;
  margin: 32px 0 16px 0;
  padding: 16px 0;
}

.site .meta {
  color: #aaa;
  border: 1px solid #aaa;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  margin: 0 auto;
  width: 8em;
  text-align: center;
  background-color: white;
  padding: 0.3em 0;
  font-size: 9pt;
}

.site hr.metaline {
  border: none;
  border-top: 1px solid #aaa;
  top: -2em;
  position: relative;
  z-index: -10;
}

.site .footer {
  clear: both;
  font-size: 9pt;
  color: #aaa;
  border-top: 1px solid #aaa;
  margin-top: 2em;
  padding: 1em 0;
  overflow: hidden;
}

.site .footer .contact {
  margin-right: 3em;
}

.site .footer .contact p {
  margin: 0;
  text-align: center;
}

/* Posts */

.post {
  margin: 1em 1em 2em;
}

.post pre, .post code, .gist pre.line-pre, .gist span.line-number {
  font-family: Monaco, "Consolas", "Courier New", monospace;
  font-size: 10pt;
}

.post img {
  margin: 0 auto;
  display: block;
}

.gist .gist-file .gist-meta {
  font-size: 9pt !important;
  line-height: 100%;
}

.post pre {
  margin: 0.8em 0;
  border-left: 0.5em solid #dfd0bb;
  padding: 0.3em 0.3em 0.3em 0.8em;
  overflow: scroll;
}

.post p code, .post li code {
  border: 1px solid #dfd0bb;
  background-color: white;
  padding: 0.2em 0.3em;
  border-radius: 6px;
  -webkit-border-radius: 6px;
}

.post ul, .post ol {
  margin: 1em 2em;
}

.post ul ul, .post ol ol, .post ul ol, .post ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

.post li p:first-child {
  margin: 0;
}

.post li {
  margin: 0.25em 0;
}

hr {
  margin: 1em 0;
  border: 2px solid #dfd0bb;
}

blockquote {
  border-left: 0.5em solid #dfd0bb;
  padding: 0 1em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

/* sizes */

.site .content {
  margin: 0 auto;
  width: 95%;
  max-width: 1200px;
}
.site .category {
  float: left;
  width: 45%;
  min-width: 45%;
  margin: 0;
  padding: 0 2.5% 16px 2.5%;
}

.site .category h2 {
  margin: 0 0 24px;
}

@media screen and (max-width: 960px) and (orientation:landscape) {
  .site .category { width: 45%; min-width: 45%; }
}

@media screen and (max-width: 960px) and (orientation:portrait) {
  .site .category { width: 45%; min-width: 45%; }
}

@media screen and (max-width: 480px) and (orientation:portrait) {
  .site .content { font-size: 85%; }
  .site .category { width: 95%; min-width: 95%; }
}
