* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f2efe4;
  font: 11pt Georgia, serif;
  text-align: center;
}

p {
  margin-top: 1em;
}

div.post {
  margin-top: 1em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Merriweather Sans', sans-serif;
  margin: 1em 0 0.75em 0;
  color: #064066;
}

a { color: #0b70b3; }
a:hover   { color: #dfd0bb; }

table {
  font-size: inherit;
  font: 100%;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
ul.posts {
  list-style-type: none;
}

ul.posts li {
  line-height: 1.75em;
}

ul.posts span {
  color: #aaa;
  font-family: Monaco, "Consolas", "Courier New", monospace;
  font-size: 70%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 115%;
  text-align: justify;
  width: 980px;
  margin: 3em auto 2em;
  line-height: 1.5em;
}

.site .header a {
  font-weight: bold;
  text-decoration: none;
}

.site .header h1.title {
  display: inline-block;
  margin-bottom: 2em;
}

.site .header a.extra {
  margin-left: 1em;
}

.site .meta {
  color: #aaa;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre, .post code {
  font-family: Monaco, "Consolas", "Courier New", monospace;
  font-size: 90%;
}

.post pre {
  margin: 0.5em 0;
  border-left: 0.5em solid #dfd0bb;
  padding: 0.25em 0 0.25em 0.5em;
}

.post p code {
  border: 1px solid #dfd0bb;
  background-color: #efe7dd;
  padding: 0.1em 0.4em;
  border-radius: 999px;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

table.categories {
  width: 100%;
  table-layout: fixed;
}

table.categories td {
  vertical-align: top;
  padding: 0.1em 1em;
  border-left: 1em solid #efe7dd;
}

hr {
  margin: 1em 0;
  border: 2px solid #dfd0bb;
}

blockquote {
  border-left: 0.5em solid #dfd0bb;
  padding: 0 1em;
}

.site .footer {
  font-size: 80%;
  color: #aaa;
  border-top: 4px solid #dfd0bb;
  margin-top: 2em;
  padding-top: 1em;
  overflow: hidden;
}

.site .footer .contact {
  margin-right: 3em;
}

.site .footer .contact p {
  margin: 0;
}
